<br />
<h2>New setting</h2>

<% form_for([:admin,@setting], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p> File name :    <%= f.file_field :setting_pdf %></p>

   <p> Price :
      <%= f.text_field :price , :class => 'textbox' %>
    </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

