<% content_for :image do %>
   <%= image_tag('home.jpg', :border=> "0", :height=>"223",  :width=>"525") %>
<% end %>

<h1>Design your own stag weekend in Riga and save &pound;&pound;&pound;&pound;&pound;&pound;&pound;&pound;&pound;!!!</h1>
<hr />

<p><%= link_to 'Riga', why_riga_url %> is the no 1 stag destination for Brits. No surprise why - it's buzzing with nightlife, gorgeous girls and some fantastic activities you can do out there - some of them unique to Riga.</p>  

<p>British companies quickly got hold of this fact and there are now loads of them selling package trips for stag groups. They will take you there and hold your hand while they show you Riga's various delights - but for a price. If you have more money than brains, this may be the way to go, but if you have a tongue in your head and an ounce of common sense, you can get yourself and your mates there and do exactly the same stuff as the packages offer but for a fraction of the price.</p>  

<p>For example, a typical company will charge you &euro;87 to have a go on the aerodium free flight simulator (a vertical wind tunnel that lets you experience free flight) while we can show you how to go direct for around &euro;50.  Or paintballing will cost you around &euro;50 with a company, when the direct cost is only &euro;14. These are just two random examples - virtually all the activities we suggest are significantly cheaper when you go direct.</p>
  
<p><b>This guide gives you the low down on all kinds of activities - what they are, how to book them, how to get there and how much they cost. Unless you're a Latvian speaker, this stuff is hard to find - so up till now, the only option for many blokes has been to go with a company and pay through the nose. Now you can choose what you want to do, design your own weekend, and pay local prices.</b></p>

<p>We also give you advice on the best places to go at night so that you have a great time without being ripped off.</p>
<p>So what exactly is in the guide?  <%= link_to 'See here for more details', what_is_in_stag_guide_url %></p>

<p>This guide is unique. There is nothing else like it in print or on the web. For a small stag group, it will save you hundreds of pounds - for a bigger group, thousands. Just think what else you could do with that money!</p>
<p>Plus you've got the fun of putting together your own stag weekend and choosing the combination of activities that suits you!</p> 

<center> <%= link_to image_tag('order.gif'), new_order_url %></center>


