<% content_for :image do %>
   <%= image_tag('whats_in_stag_guide.jpg', :border=> "0", :height=>"223",  :width=>"525") %>
<% end %>



<h1>What's in the Ultimate Stag Guide to Riga?</h1>
<hr />
<p>The guide is in three main parts.</p>  
<p>We tell you <b>how to get to Riga</b> and give you advice on <b>getting around the city.</b> </p>


<p>
We give you the lowdown on <b>nightlife:</b> best <b>bars</b> and <b>restaurants</b> for bigger and smaller stag groups, <b>nightclubs</b>, <b>strip clubs</b> and <b>casinos</b>. We've trawled through the lot to pick out the best and the safest, recommended by other stag groups and tourists. We also give you <b>advice on staying safe</b> and tips on what and what not to do.
</p>


<div class ='clear'> </div>

  <p>
    <b>Activities:</b> There's tons of stuff to do in Riga. We give you the low down on each activity - what it involves, where it is, how to get there, what it costs, how to book it and so on. We also tell you which activities are close to others so that you can combine some if you want to.
  </p>


<h2><u>What activities can you do?</u></h2>  
<br />

<div class = 'left image'>
  <%= image_tag ('ak47.jpg') %>
</div>

<div class ='right' id ='activities'>
<p>
<h2>Shooting Range</h2>  
Fancy an afternoon playing with guns?  This has to be the ultimate in boys' toys - shooting some of the most serious guns around.  You can try your hand at a Glock, AK-47, Magnum revolver, Uzi and Kalashnikov, amongst others. If you've always wanted to be Arnie, Rambo, James Bond or Dirty Harry, this is your chance!
</p>
</div>

<p>
<h2> Prison</h2>  
For an experience you'll never forget, try this: spending the night as a "real prisoner" in a former military/KGB prison.  This activity is not for the faint-hearted, but think of the stories you'll be able to tell afterwards!
The prison proudly claims it is 'unfriendly, unheated, uncomfortable and open all year round'.  Do not expect room service, a minibar or a comfortable bed.  Instead, look forward to a night of experiencing as closely as possible what it must have been like to have been incarcerated in one of the most brutal prisons in Latvia. <br />
Various tours and programmes are on offer, depending on how hard you are, including a VIP programme - specially arranged, to have the person of your choice arrested, interrogated and generally degraded and abused.  
</p>

<p>
<h2> Riga Bobsleigh</h2>  
For the ultimate adrenaline sport, try bobsleighing.  If hurtling down the 1420m ice track of this legendary Olympic Bobsleigh run at 100 km an hour doesn't do it for you, nothing will!  You need serious balls to do this, but for anyone slightly lacking in that department, slower options are also available!
</p>

<p>
<h2>  Quad Biking</h2>  
Always popular with stag groups, you can take a quad bike round a track or through 30km of wooded and boggy terrain, ending with a sauna and dinner and mulled wine in a tavern!  
</p>

<p>
<h2>  Off-road Buggy</h2>  
Test your driving skills with an off road buggy with 270 cc Honda motor. They can be used in all seasons and in any weather, even in winter.
</p>

<p>
<h2>  Paintball</h2>  
Paintball is always good for a laugh and Riga is a great place to do it. This paintball park has 5 fields set up in different ways (trench, tyre, car, sport, village) and with plenty of amenities (changing rooms, showers, places to bbq etc) they are well equipped for big groups.
</p>

<p>
<h2>  Aerodium Free Flight Simulator</h2>  
An alternative way to get legless on your stag weekend. Be blasted up into the air by an air stream travelling at a whopping 180 to 200 kmph and fly like Superman!  This is the first vertical wind tunnel in Eastern Europe and employs the newest technologies to allow you to experience free flight.  If you change body positions, the laws of aerodynamics enable you to soar into the skies and to perform any movements and acrobatics.
</p>

<p>
<h2> Bungee</h2>  
Everyone knows what the bungee is - here you can hurl yourself off a cable car hanging 43 m above a beautiful river. Lots of other activities close by to combine it with.
</p>

<p>
<h2> Catapult</h2>  
If you've done the bungee and want to try something new, how about this?  The opposite of the bungee jump - instead of dropping down and bouncing back up, you can be pinged high up into the air at speed by what looks like a giant rubber band, and freefall back down to earth. How cool is that?!  Night jumps are also available.
</p>

<p>
<h2> Zorbing </h2>  
The Zorb itself is a gigantic inflatable pvc ball standing about three metres in height. You can attempt to run with the ball like a hamster in an exercise ball or you can enjoy being thrown around by the centrifugal forces, reaching speeds of 30-40 km/h.
</p>

<p>
<h2> Adventure Park in the Trees</h2>  
Anyone who's ever fancied being Tarzan will love this.  Get back to nature and swing through the trees in this beautiful adventure park, testing yourself on various obstacles on the way.  Various routes are on offer, varying in difficulty from "universal" to "extreme", depending on your ability and nerve.  
</p>

<p>
<h2> Toboggan (Rodel) Track</h2>  
Rodel tracks are on wheels, rather like a rollercoaster.  This one is 400m long and great fun - you can get up to some pretty fast speeds on it, and it's dead cheap so you can go on it over and over again!
</p>

<p>
<h2> Riga's Beaches</h2>  
Soak up the sun, enjoy a beer and gaze at those famous Latvian beauties in their bikinis!  It costs peanuts to get to the beach - so why do the stag package companies charge so much for this?!
</p>

<p>
<h2>Livu Water Park</h2>  
The biggest water attraction park in Northern Europe!  This place offers 40 different indoor and outdoor attractions.  
</p>

<p>
<h2> Golf</h2>  
Enjoy a game of golf followed by a meal at a gourmet restaurant, or depending on the weather, an afternoon on the beach.
</p>

<p>
<h2> Riga's Motor Museum</h2>  
If classic cars are your thing, Riga's Motor Museum is the place to go.  Even for those not that interested in cars, there are enough historical oddities here from Soviet days and before to keep most people entertained.<br />   
Riga's motor museum is the biggest in the Baltic States, and with two floors and more than two hundred exhibits there's plenty to see.
</p>
