<h1> Why Riga? </h1>
<p>
Riga is the capital city of Latvia, one of the three small Baltic Republics in central Europe.  Until 1991, Latvia was part of the Soviet Union, but since gaining its independence it has made up for lost time and Riga has exploded with great bars, restaurants, nightclubs and all the trappings of a successful modern capital city.
</p>
<p>
Why is Riga currently the No 1 destination for British stag groups?
<ol>
  <li>It’s a vibrant city with a young population so it’s fantastic for nightlife </li>
  <li>It’s easy to get to (just over 2 hours flight from the UK) with cheap airlines going there</li>
  <li>It’s cheap!  A pint of beer costs a little over £2</li> 
  <li>There are loads of exciting activities you can do – some unique to Riga – that will leave you with memories you will never forget (and stories to tell the lads back home!)</li>
  <li>It’s beautiful -  Riga is a UNESCO World Heritage site, which means it has some of the most historically significant and beautiful architecture in the world.  Being small, you can wander round the cobbled streets of the city on foot and soak up the medieval atmosphere – a great thing to do after a heavy night out</li>
  <li>And it’s famous for its gorgeous girls! </li>
</ol>
</p>
